A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows
```
x = 2
y = 5
xy = 'Hey'
print (x+y, xy)
```
Output:
```
 7  'Hey'
```

In [1]:
x = 2
y = 5
xy = 'Hey'
print (x+y, xy)

7 Hey

The print statement can be used in the following different ways :

```
- print "Hello World"
- print "Hello", <Variable Containing the String>
- print "Hello" + <Variable Containing the String>
- print "Hello %s" % <variable containing the string>
```

Code:

```
print("""My name is Rajath Kumar M.P.

I love Python.""")
```

Output:

```
My name is Rajath Kumar M.P.

I love Python.

In [2]:
print("""My name is Rajath Kumar M.P.

I love Python.""")

My name is Rajath Kumar M.P.

I love Python.

Code:

```
string1 = 'World'
print('Hello', string1)

string2 = '!'
print('Hello', string1, string2)
```

Output:
```

Hello World
Hello World !

In [3]:
string1 = 'World'
print('Hello', string1)

string2 = '!'
print('Hello', string1, string2)

Hello World
Hello World !

Code:
```
print('Hello' + string1 + string2)
```

Output:

```
HelloWorld!

In [7]:
print('Hello' + string1 + string2)

HelloWorld!

Code:
```
print("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")
```
Output:

```
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [8]:
print("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

Code:
```
print("I want \\n to be printed.")
```
Output:

```
I want \n to be printed.

In [6]:
print("I want \\n to be printed.")

I want \n to be printed.

Code:
```
x = 10
print(type(x))
 
s = 'abc'
print(type(s))
 
value= True
print(type(value))

percent=90.00
type(percent)
```

Output:

```
<class 'int'>
<class 'str'>
<class 'bool'>

In [5]:
x = 10
print(type(x))

s = 'abc'
print(type(s))

value= True
print(type(value))

percent=90.00
print(type(percent))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>